fonte: https://www.kaggle.com/arjunprasadsarkhel/2021-olympics-in-tokyo

### Bibliotecas

In [46]:
import pandas as pd
from google.oauth2 import service_account
from functools import reduce

### Extração

In [2]:
atletas = pd.read_excel('Athletes.xlsx')

In [3]:
atletas.head()

                Name     NOC           Discipline
0    AALERUD Katrine  Norway         Cycling Road
1        ABAD Nestor   Spain  Artistic Gymnastics
2  ABAGNALE Giovanni   Italy               Rowing
3     ABALDE Alberto   Spain           Basketball
4      ABALDE Tamara   Spain           Basketball

In [4]:
atletas.NOC.nunique(), atletas.Discipline.nunique()

(206, 46)

In [5]:
treinadores = pd.read_excel('Coaches.xlsx')

C:\Users\rafae\anaconda3\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [6]:
treinadores.head()

              Name            NOC  Discipline Event
0  ABDELMAGID Wael          Egypt    Football   NaN
1        ABE Junya          Japan  Volleyball   NaN
2    ABE Katsuhiko          Japan  Basketball   NaN
3     ADAMA Cherif  Côte d'Ivoire    Football   NaN
4       AGEBA Yuya          Japan  Volleyball   NaN

In [7]:
treinadores.Event.value_counts()

Event
Men         94
Women       88
Duet        27
Softball    20
Team        14
Baseball     6
Name: count, dtype: int64

In [8]:
treinadores.NOC.nunique(), treinadores.Discipline.nunique()

(61, 9)

In [9]:
ent_gen = pd.read_excel('EntriesGender.xlsx')

In [10]:
ent_gen.head()

            Discipline  Female  Male  Total
0       3x3 Basketball      32    32     64
1              Archery      64    64    128
2  Artistic Gymnastics      98    98    196
3    Artistic Swimming     105     0    105
4            Athletics     969  1072   2041

In [11]:
medalhas = pd.read_excel('Medals.xlsx')

C:\Users\rafae\anaconda3\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [12]:
medalhas.head(13)

,Rank,Team/NOC,Gold,Silver,Bronze,Total,Rank by Total
0,1,United States of America,39,41,33,113,1
1,2,People's Republic of China,38,32,18,88,2
2,3,Japan,27,14,17,58,5
3,4,Great Britain,22,21,22,65,4
4,5,ROC,20,28,23,71,3
5,6,Australia,17,7,22,46,6
6,7,Netherlands,10,12,14,36,9
7,8,France,10,12,11,33,10
8,9,Germany,10,11,16,37,8
9,10,Italy,10,10,20,40,7
10,11,Canada,7,6,11,24,11
11,12,Brazil,7,6,8,21,12
12,13,New Zealand,7,6,7,20,13

In [13]:
medalhas['Team/NOC'].nunique()

93

In [14]:
times = pd.read_excel('Teams.xlsx')

In [15]:
times.head()

      Name      Discipline                         NOC  Event
0  Belgium  3x3 Basketball                     Belgium    Men
1    China  3x3 Basketball  People's Republic of China    Men
2    China  3x3 Basketball  People's Republic of China  Women
3   France  3x3 Basketball                      France  Women
4    Italy  3x3 Basketball                       Italy  Women

In [16]:
times.NOC.nunique(), times.Discipline.nunique()

(84, 20)

In [17]:
times.Name.value_counts()

Name
Japan                45
United States        43
Italy                34
Germany              32
France               32
                     ..
Ludwig/Kozuch         1
Thole J./Wickler      1
Perusic/Schweiner     1
Lidy/Leila            1
Venezuela             1
Name: count, Length: 146, dtype: int64

In [18]:
times.Event.value_counts()

Event
Men                                 120
Women                               114
Men's Team                           40
Women's Team                         40
Mixed Team                           29
Duet                                 22
Mixed Relay                          18
Women's 4 x 200m Freestyle Relay     17
Women's 4 x 400m Relay               16
Women's 4 x 100m Medley Relay        16
Men's 4 x 200m Freestyle Relay       16
Mixed 4 x 100m Medley Relay          16
Men's 4 x 100m Medley Relay          16
Women's 4 x 100m Freestyle Relay     16
Women's Madison                      16
Men's Madison                        16
Mixed Doubles                        16
Women's 4 x 100m Relay               16
Men's 4 x 100m Relay                 16
Men's 4 x 400m Relay                 16
Men's 4 x 100m Freestyle Relay       16
4 x 400m Relay Mixed                 15
Group All-Around                     14
Team                                 10
Men's Foil Team                       9
Men's Épée Team                       9
Women's Sabre Team                    9
Men's Sabre Team                      9
Women's Foil Team                     8
Women's Épée Team                     8
Women's Team Sprint                   8
Men's Team Sprint                     8
Men's Team Pursuit                    8
Women's Team Pursuit                  8
Baseball                              6
Softball                              6
Name: count, dtype: int64

### Transformação

#### atletas por modalidade por país

In [19]:
atletas.head()

                Name     NOC           Discipline
0    AALERUD Katrine  Norway         Cycling Road
1        ABAD Nestor   Spain  Artistic Gymnastics
2  ABAGNALE Giovanni   Italy               Rowing
3     ABALDE Alberto   Spain           Basketball
4      ABALDE Tamara   Spain           Basketball

In [20]:
atletas_disc = atletas.groupby(['NOC', 'Discipline'])['Name'].nunique()

In [21]:
atletas_disc

NOC          Discipline
Afghanistan  Athletics              2
             Shooting               1
             Swimming               1
             Taekwondo              1
Albania      Artistic Gymnastics    1
                                   ..
Zambia       Swimming               2
Zimbabwe     Athletics              1
             Golf                   1
             Rowing                 1
             Swimming               2
Name: Name, Length: 2112, dtype: int64

In [22]:
atletas_disc = pd.DataFrame(atletas_disc).reset_index().rename(columns={'Name': 'numero_atletas', 
                                                                        'Discipline': 'modalidade', 
                                                                        'NOC': 'pais'})

#### Treinadores por modalidade e país

In [23]:
treinadores.head()

              Name            NOC  Discipline Event
0  ABDELMAGID Wael          Egypt    Football   NaN
1        ABE Junya          Japan  Volleyball   NaN
2    ABE Katsuhiko          Japan  Basketball   NaN
3     ADAMA Cherif  Côte d'Ivoire    Football   NaN
4       AGEBA Yuya          Japan  Volleyball   NaN

In [24]:
treinadores_disc = pd.DataFrame(treinadores.groupby(['NOC', 'Discipline'])['Name'].nunique()).\
reset_index().rename(columns={'Name': 'numero_treinadores', 
                              'Discipline': 'modalidade', 
                              'NOC': 'pais'})

In [25]:
treinadores_disc

                         pais         modalidade  numero_treinadores
0                      Angola           Handball                   1
1                   Argentina  Artistic Swimming                   1
2                   Argentina         Basketball                   1
3                   Argentina           Football                   1
4                   Argentina           Handball                   1
..                        ...                ...                 ...
156  United States of America         Volleyball                   5
157  United States of America         Water Polo                   2
158                 Venezuela         Basketball                   6
159                 Venezuela         Volleyball                   4
160                    Zambia           Football                   2

[161 rows x 3 columns]

#### Times por disciplina por país

In [26]:
times.head()

      Name      Discipline                         NOC  Event
0  Belgium  3x3 Basketball                     Belgium    Men
1    China  3x3 Basketball  People's Republic of China    Men
2    China  3x3 Basketball  People's Republic of China  Women
3   France  3x3 Basketball                      France  Women
4    Italy  3x3 Basketball                       Italy  Women

In [27]:
times['categoria'] = times.Event.apply(lambda x: 'Masculino' if 'Men' in x 
                                       else ('Feminino' if 'Women' in x 
                                             else ('Misto' if 'Mixed' in x 
                                                   else 'Outros')))

In [28]:
times.tail()

              Name  Discipline                       NOC  Event  categoria
738   South Africa  Water Polo              South Africa  Women   Feminino
739          Spain  Water Polo                     Spain    Men  Masculino
740          Spain  Water Polo                     Spain  Women   Feminino
741  United States  Water Polo  United States of America    Men  Masculino
742  United States  Water Polo  United States of America  Women   Feminino

In [29]:
times.categoria.value_counts()

categoria
Masculino    299
Feminino     292
Misto         94
Outros        58
Name: count, dtype: int64

In [30]:
times_masc = pd.DataFrame(times[times.categoria == 'Masculino'].groupby(['NOC', 'Discipline'])['Name'].nunique()).\
reset_index().rename(columns={'Name': 'times_masculinos', 
                              'Discipline': 'modalidade', 
                              'NOC': 'pais'})

In [31]:
times_fem = pd.DataFrame(times[times.categoria == 'Feminino'].groupby(['NOC', 'Discipline'])['Name'].nunique()).\
reset_index().rename(columns={'Name': 'times_femininos', 
                              'Discipline': 'modalidade', 
                              'NOC': 'pais'})

In [32]:
times_misto = pd.DataFrame(times[times.categoria == 'Misto'].groupby(['NOC', 'Discipline'])['Name'].nunique()).\
reset_index().rename(columns={'Name': 'times_mistos', 
                              'Discipline': 'modalidade', 
                              'NOC': 'pais'})

In [33]:
times_outros = pd.DataFrame(times[times.categoria == 'Outros'].groupby(['NOC', 'Discipline'])['Name'].nunique()).\
reset_index().rename(columns={'Name': 'times_outros', 
                              'Discipline': 'modalidade', 
                              'NOC': 'pais'})

In [34]:
times_masc

                         pais        modalidade  times_masculinos
0                   Argentina        Basketball                 1
1                   Argentina  Beach Volleyball                 1
2                   Argentina          Football                 1
3                   Argentina          Handball                 1
4                   Argentina            Hockey                 1
..                        ...               ...               ...
226  United States of America          Swimming                 1
227  United States of America      Table Tennis                 1
228  United States of America        Volleyball                 1
229  United States of America        Water Polo                 1
230                 Venezuela        Volleyball                 1

[231 rows x 3 columns]

In [35]:
times_fem

                         pais        modalidade  times_femininos
0                      Angola          Handball                1
1                   Argentina  Beach Volleyball                1
2                   Argentina            Hockey                1
3                   Argentina        Volleyball                1
4                   Australia         Athletics                1
..                        ...               ...              ...
223  United States of America          Swimming                1
224  United States of America      Table Tennis                1
225  United States of America        Volleyball                1
226  United States of America        Water Polo                1
227                    Zambia          Football                1

[228 rows x 3 columns]

In [36]:
times_misto

                        pais    modalidade  times_mistos
0                  Australia       Archery             1
1                  Australia      Swimming             1
2                  Australia  Table Tennis             1
3                  Australia     Triathlon             1
4                    Austria  Table Tennis             1
..                       ...           ...           ...
89  United States of America       Archery             1
90  United States of America     Athletics             1
91  United States of America      Swimming             1
92  United States of America     Triathlon             1
93                   Vietnam       Archery             1

[94 rows x 3 columns]

In [37]:
times_outros.shape

(45, 3)

#### Juntando tabelas

In [38]:
data_frames = [atletas_disc, 
               treinadores_disc, 
               times_masc, 
               times_fem, 
               times_misto, 
               times_outros]

In [39]:
df_final = reduce(lambda left, right: pd.merge(left, 
                                               right, on=['pais', 'modalidade'], 
                                               how='outer'), 
                  data_frames)

In [40]:
df_final

,pais,modalidade,numero_atletas,numero_treinadores,times_masculinos,times_femininos,times_mistos,times_outros
0,Afghanistan,Athletics,2.0,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,Shooting,1.0,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,Swimming,1.0,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,Taekwondo,1.0,NaN,NaN,NaN,NaN,NaN
4,Albania,Artistic Gymnastics,1.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
2114,Dominican Republic,Basketball,NaN,4.0,NaN,NaN,NaN,NaN
2115,San Marino,Artistic Swimming,NaN,2.0,NaN,NaN,NaN,NaN
2116,Serbia,Artistic Swimming,NaN,1.0,NaN,NaN,NaN,NaN
2117,Slovakia,Artistic Swimming,NaN,1.0,NaN,NaN,NaN,NaN
2118,Venezuela,Basketball,NaN,6.0,NaN,NaN,NaN,NaN

In [41]:
df_final = reduce(lambda left, right: pd.merge(left, 
                                               right, on=['pais', 'modalidade'], 
                                               how='outer'), 
                  data_frames).fillna(0)

In [42]:
df_final

,pais,modalidade,numero_atletas,numero_treinadores,times_masculinos,times_femininos,times_mistos,times_outros
0,Afghanistan,Athletics,2.0,0.0,0.0,0.0,0.0,0.0
1,Afghanistan,Shooting,1.0,0.0,0.0,0.0,0.0,0.0
2,Afghanistan,Swimming,1.0,0.0,0.0,0.0,0.0,0.0
3,Afghanistan,Taekwondo,1.0,0.0,0.0,0.0,0.0,0.0
4,Albania,Artistic Gymnastics,1.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...
2114,Dominican Republic,Basketball,0.0,4.0,0.0,0.0,0.0,0.0
2115,San Marino,Artistic Swimming,0.0,2.0,0.0,0.0,0.0,0.0
2116,Serbia,Artistic Swimming,0.0,1.0,0.0,0.0,0.0,0.0
2117,Slovakia,Artistic Swimming,0.0,1.0,0.0,0.0,0.0,0.0
2118,Venezuela,Basketball,0.0,6.0,0.0,0.0,0.0,0.0

In [43]:
df_final[df_final.pais == 'Brazil']

,pais,modalidade,numero_atletas,numero_treinadores,times_masculinos,times_femininos,times_mistos,times_outros
239,Brazil,Archery,2.0,0.0,0.0,0.0,1.0,0.0
240,Brazil,Artistic Gymnastics,6.0,0.0,1.0,0.0,0.0,0.0
241,Brazil,Athletics,53.0,0.0,1.0,1.0,1.0,0.0
242,Brazil,Badminton,2.0,0.0,0.0,0.0,0.0,0.0
243,Brazil,Beach Volleyball,7.0,0.0,2.0,2.0,0.0,0.0
244,Brazil,Boxing,7.0,0.0,0.0,0.0,0.0,0.0
245,Brazil,Canoe Slalom,2.0,0.0,0.0,0.0,0.0,0.0
246,Brazil,Canoe Sprint,3.0,0.0,0.0,0.0,0.0,0.0
247,Brazil,Cycling BMX Racing,2.0,0.0,0.0,0.0,0.0,0.0
248,Brazil,Cycling Mountain Bike,3.0,0.0,0.0,0.0,0.0,0.0
249,Brazil,Diving,4.0,0.0,0.0,0.0,0.0,0.0
250,Brazil,Equestrian,9.0,0.0,0.0,0.0,0.0,0.0
251,Brazil,Fencing,2.0,0.0,0.0,0.0,0.0,0.0
252,Brazil,Football,41.0,2.0,1.0,1.0,0.0,0.0
253,Brazil,Handball,28.0,2.0,1.0,1.0,0.0,0.0
254,Brazil,Judo,11.0,0.0,0.0,0.0,0.0,0.0
255,Brazil,Modern Pentathlon,1.0,0.0,0.0,0.0,0.0,0.0
256,Brazil,Rhythmic Gymnastics,5.0,0.0,0.0,0.0,0.0,1.0
257,Brazil,Rugby Sevens,12.0,1.0,0.0,1.0,0.0,0.0
258,Brazil,Sailing,13.0,0.0,0.0,0.0,0.0,0.0
259,Brazil,Shooting,1.0,0.0,0.0,0.0,0.0,0.0
260,Brazil,Skateboarding,12.0,0.0,0.0,0.0,0.0,0.0
261,Brazil,Surfing,4.0,0.0,0.0,0.0,0.0,0.0
262,Brazil,Swimming,17.0,0.0,1.0,1.0,1.0,0.0
263,Brazil,Table Tennis,6.0,0.0,1.0,1.0,0.0,0.0
264,Brazil,Taekwondo,2.0,0.0,0.0,0.0,0.0,0.0
265,Brazil,Tennis,5.0,0.0,0.0,0.0,0.0,0.0
266,Brazil,Triathlon,3.0,0.0,0.0,0.0,0.0,0.0
267,Brazil,Volleyball,23.0,2.0,1.0,1.0,0.0,0.0
268,Brazil,Weightlifting,2.0,0.0,0.0,0.0,0.0,0.0
269,Brazil,Wrestling,3.0,0.0,0.0,0.0,0.0,0.0

### Carregamento dos Dados

In [44]:
credentials = service_account.Credentials.from_service_account_file(filename='GBQ.json', 
                                                                    scopes=["https://www.googleapis.com/auth/cloud-platform"])

In [47]:
df_final.to_gbq(credentials=credentials, 
                destination_table='curso_etl.etl_excel', 
                if_exists='replace')

100%|██████████| 1/1 [00:00<?, ?it/s]