In [ ]:
import pandas as pd
from google.oauth2 import service_account

In [4]:
atletas = pd.read_excel('Athletes.xlsx')

atletas.head()

                Name     NOC           Discipline
0    AALERUD Katrine  Norway         Cycling Road
1        ABAD Nestor   Spain  Artistic Gymnastics
2  ABAGNALE Giovanni   Italy               Rowing
3     ABALDE Alberto   Spain           Basketball
4      ABALDE Tamara   Spain           Basketball

In [5]:
#Quantidade de países únicos
atletas.NOC.nunique(), atletas.Discipline.nunique()

(206, 46)

In [7]:
#Treinadores
treinadores = pd.read_excel('Coaches.xlsx')

treinadores.head()

c:\Users\rafae\anaconda3\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

              Name            NOC  Discipline Event
0  ABDELMAGID Wael          Egypt    Football   NaN
1        ABE Junya          Japan  Volleyball   NaN
2    ABE Katsuhiko          Japan  Basketball   NaN
3     ADAMA Cherif  Côte d'Ivoire    Football   NaN
4       AGEBA Yuya          Japan  Volleyball   NaN

In [8]:
#Quantidade de países únicos
treinadores.NOC.nunique(), treinadores.Discipline.nunique()

(61, 9)

In [1]:
#Gênero
ent_gen = pd.read_excel('EntriesGender.xlsx')

ent_gen.head()

NameError: name 'pd' is not defined